body {
    background-image: url("../img/solo-jaz.jpg");
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
  }

 .topButtons {
   align-self: flex-start;
   justify-self: center;
   position: absolute;
 }

  .btn {
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
    border: solid black 2px;
  }

  .tamagotchiDisplay {
    display: flex;
    background-color: #5f9ea0;
    width: 60vw;
    height: 70vh;
    border: 5px black solid;
    border-radius: 25px;
    padding: 5px;
  }

  .myTamagotchi {
    display: flex;
    justify-self: center;
    height: 60vh;
    margin: auto;
  }

  .statusDisplay {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
  }

.displayLeftStatus {
  text-align: right;
  margin-right: 20px;
}  

.displayRightStatus {
  margin-left: 20px;
}

.hungerDisplay {
  margin-bottom: 57vh;
}

.strengthDisplay {
  margin-bottom: 57vh;
}

  .displayLeftHeaders {
    text-align: right;
    margin-right: 20px;
  }

  .hungerHeader {
    margin-bottom: 60vh;
  }

  .displayRightHeaders {
    margin-left: 20px;
  }

  .strengthHeader {
    margin-bottom: 60vh;
  }