body {
    background-image: url("../img/solo-jaz.jpg");
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
  }

  .tamagotchiDisplay {
    display: flex;
    background-color: #5f9ea0;
    width: 60vw;
    height: 70vh;
    border: 5px black solid;
    border-radius: 25px;
  }

  .myTamagotchi {
    display: flex;
    justify-self: center;
    height: 60vh;
    margin: auto;
  }

  .statusDisplay {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
  }

  .fullDisplay {
    margin-left: 4%;
    position: absolute;
  }

  .funDisplay {
    align-self: flex-end;
    margin-left: 4%;
    position: absolute;
  }

  .strengthDisplay {
    position: absolute;
    margin-left: 51%;
  }

  .energyDisplay {
    position: absolute;
    align-self: flex-end;
    margin-left: 51%;
  }